aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
pytgcalls==3.0.0.dev21
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
yt-dlp==2021.11.10.1
pyyaml==5.3.1
tgcrypto
gitpython
heroku3
